.project-categories {
    background-color: #f6f6f6;
  }
  
  .headingColor {
    color: green;
  }
  
  .table {
    background-color: #f6f6f6;
  }
  
  .paragraph {
    text-align: justify;
  }
  
  .button-text:hover {
    background-color: black;
    transition: background-color 0.7s;
  }
  
  .button-text {
    height: 50px;
    width: 180px;
    color: white;
    text-align: left;
    font-weight: bold;
    background-color: green;
  }
  
  .social-media-icon {
    margin: 2px;
    text-align: center;
    background-color: white;
    width: 30px;
    height: 30px;
  }
  
  /* Add shadow animation */
  .container-fluid.card-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
  }
  