/* Footer.css */
.scrolling-text {
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid #000; /* This adds the blinking cursor effect */
    animation: typing 20s steps(50, end), blink-caret 0.75s step-end infinite;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: #000;
    }
  }
  